.historial-text-div {
  grid-column: 2/3;
  text-align: justify;
}

.cards-container {
  grid-column: 2/3;
  display: flex;
}

.card-div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 30vh;
  height: 30vh;
  border-radius: 5px;
  position: relative;
  margin-bottom: 3%;
  margin-right: 3%;
}

.card-div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-text {
  padding: 2px 16px;
}

.historial-img {
  width: auto;
  height: 20vh;
  border-radius: 5px 5px 0 0;
}

/* Dropdown de ramos */
.ramos-dropdown {
  position: relative;
  width: 70vh;
  height: 20vh;
  background-color: red;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* Collapsable */
.collapse-container {
  display: grid;
  grid-template-columns: 85% 15%;
  overflow: hidden;
  position: relative;
  margin: auto;
  padding-top: 1%;
  padding-left: 1%;
  width: 120vh;
  background-color: #f2f2f2;
  border-radius: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
}

.collapse-text {
  grid-column: 1/2;
  width: 50vh;
  position: relative;
}

.collapse-btn-container {
  grid-column: 2/2;
  width: 100%;
  position: relative;
}

.collapse-button {
  display: block;
  width: auto;
  border-radius: 1vh;
  position: relative;
  border: none;
  background: none;
  left: 50%;
  margin-bottom: 1.5vh;
}

.collapse-content.collapsed {
  display: none;
  transition: 5s ease;
}

.collapsed-content.expanded {
  display: block;
  transition: 5s ease;
}

.icon-btn {
  height: auto;
  width: 3vh;
}
