.home-items-white {
  display: grid;
  grid-template-columns: 20% 20% 60%;
  overflow: hidden;
  position: relative;
  height: 30vh;
}

.home-items-blue {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  background-color: #19136e;
  height: 36vh;
  padding-top: 1.5%;
}

.home-img-div-white {
  grid-column: 1/3;
  width: 30vh;
  margin-left: 20%;
  margin-bottom: 30%;
}

.home-text-div-white {
  grid-column: 3/3;
  margin-right: 15%;
  height: 50vh;
}

.home-img-div-blue {
  grid-column: 3/3;
  width: 30vh;
  height: 30vh;
  position: relative;
  left: -10%;
}

.home-text-div-blue {
  grid-column: 1/3;
  margin-right: 15%;
  margin-left: 10%;
}

.home-data-template {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-data {
  position: relative;
  display: inline-block;
  margin-right: 5%;
}
